.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: fixed;
  top:0;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0px;
}

li {
  display: flex;
  gap: 1rem;
}

li a {
  margin: 10px;
  color: rgb(241, 241, 190);  
}

.pInHome a{
  color: rgb(241, 241, 190);
}

.active{
  color: orange;
}

.listProd{
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}